<div class="container mt-5">
    <div id="login-container" class="col-4 offset-4 mb-5">
        <div>
            <h2 id="login-register-header">Forgot Password</h2>
            <div>
                <label class="form-label">What is your Username?</label>
                <input class="form-control" [(ngModel)]="username" type="text" placeholder="Username" autofocus>
                <button class="blue-button mr-2 mt-2" type="button" (click)="findUser()">Find User</button>
            </div>
            <div *ngIf="usernameNotFound" id="error-text">
                Username not found! Please try again.
            </div>
            <div *ngIf="usernameFound">
                <label class="form-label">New Password</label>
                <input class="form-control" [(ngModel)]="password" type="password" placeholder="Password">
                <button class="blue-button mr-2 mt-2" type="button" (click)="resetPassword()">Reset Password</button>
            </div>
            <div *ngIf="successfulUpdate" class="success-message">
                Password successfully updated! Redirecting...
            </div>
            <br>
            <div>
                <button class="blue-button mr-2" type="button" routerLink="/login">Back to Login</button>
                <button class="blue-button mr-2" type="button" routerLink="/register">Back to Register</button>
            </div>
        </div>
    </div>
</div>