<div class="container col-12">
  <div class="row col-10 offset-1 justify-content-center">
    <div class="col-3 mt-5 mb-5 text-center box-shadow" style="height: 500px;">
      <div>
        <img [src]="user.imageURL" id="profile-photo">
        <div class="mb-2 mt-2">
          <button class="btn btn-sm btn-outline-primary" (click)="open(changePhoto)">Change Image</button>
        </div>
        <h3>@{{user.username}}</h3>
      </div>
      <div class="col-4 offset-4 mt-3 mb-3 p-1 blue-button" routerLink="/profile" type="button">
        Profile
      </div>
      <div class="col-4 offset-4 mt-3 mb-3 p-1 blue-button" routerLink="/my-followers" type="button">
        Followers
      </div>
      <div class="col-4 offset-4 mt-3 mb-3 p-1 blue-button" routerLink="/following" type="button">
        Following
      </div>
      <div class="col-4 offset-4 mt-3 mb-3 p-1 blue-button" routerLink="/search-users" type="button">
        Search
      </div>
    </div>
    <div>
      &nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-6 mt-5 mb-5 box-shadow">
      <div class="mb-2 mt-2">
        <button class="btn btn-sm btn-outline-primary" (click)="open(mymodal)"><h6 class="justify-content-center">Post</h6></button>
      </div>
      <hr id="divider">
      <div class="mt-3 mb-3 flex" *ngFor="let item of micros">
        <div class="row ml-1 mr-1 justify-content-left">
          <img [src]="item.user.imageURL" id="profile-photo2">
          <h6>{{item.user.username}}</h6>
        </div>
        <div class="mb-3 p-2 content">
          {{item.content}}
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Micro</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body justify-content-center">
    <textarea rows="6" cols="60" placeholder="Enter your post..." class="form-control" id="content" [(ngModel)]="content" required minlength="1" maxlength="200"></textarea>
  </div>
  <div class="modal-footer">
    <button id="submit" class="btn btn-outline-dark" (click)="createMicro()">Post</button>
  </div>
</ng-template>

<ng-template #changePhoto let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enter Image URL:</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <p class="modal-body justify-content-center">
    <!-- <input type="file" (change)="selectFile($event)"> -->
    <textarea type="text" [(ngModel)]="imageURL" cols="60"></textarea>
  </p>
  <div class="modal-footer">
    <button id="submit" class="btn btn-outline-dark" (click)="changeImage()">Change</button>
  </div>
</ng-template>
