<div class="container mt-5"> 
    <div class="card shadow col-6 offset-3">
        <div class="card-body">
            <div class="d-flex align-items-baseline justify-content-between">
                <h3 class="card-title mr-3">Edit {{username}}'s Profile</h3>
            </div>
            <div class="mb-3">
                <label for="about" class="form-label">About Me</label>
                <textarea class="form-control" id="about" [(ngModel)]="about"></textarea>
            </div>
            <div class="mb-3">
                <label for="imageURL" class="form-label">Image URL</label>
                <input id="imageURL" class="form-control" type="url" [(ngModel)]="imageURL">
            </div>
            <div *ngIf="successfulUpdate" class="success-message">
                Profile successfully updated! Redirecting...
            </div>
            <br>
            <div>
                <button id="submit" class="rev-btn-confirm blue-button" (click)="updateProfile()">Submit</button>
                <button class="rev-btn-confirm blue-button" routerLink="/profile">Back to Profile</button>
            </div>
        </div>
    </div>
</div>