<div class="container">
  <div class="card col-6 offset-3 mt-5">
    <div class="card-body">
      <h3 class="card-title">My Followers</h3>
      <div class="mt-2 follower-item row" *ngFor="let follower of followers">
        <div class="col-8 align-self-center">
          <img [src]="follower.imageURL" class="profile-photo2">
          {{follower.firstName}} {{follower.lastName}} @{{follower.username}}
        </div>
        <div class="col-4 align-self-center">
          <app-follow-button [user]="follower"></app-follow-button>
        </div>       
      </div>
    </div>
  </div>
</div>
