<div class="container mt-5">
  <div class="row col-10 offset-1 justify-content-center">
    <div class="card-body">
      <div class="d-flex align-items-baseline justify-content-between">
        <h3 class="card-title">{{username}}'s Profile<img [src]="imageURL" alt="My_image" width="50" height="50" style="float:left"></h3>
        <button class="rev-btn-confirm blue-button" style="float:right;" routerLink="/edit-profile">Edit</button>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">{{firstname}} {{lastname}}</label>
      </div>
      <div class="mb-3">
        <label for="about" class="form-label">About Me</label>
        <textarea readonly class="form-control" id="about" [(ngModel)]="about"></textarea>
      </div>
      <br>
      <div>
        <button class="col-4 offset-1 mt-1 mb-5 p-1 blue-button" routerLink="/home">Back to Home</button>
        <button class="col-4 offset-1 mt-1 mb-5 p-1 blue-button" routerLink="/edit-password">Change Password</button>
      </div>
    </div>
  </div>
</div>

