<div class="container mt-5"> 
    <div class="card shadow col-6 offset-3">
        <div class="card-body">
            <div class="d-flex align-items-baseline justify-content-between">
                <h3 class="card-title mr-3">Change {{username}}'s Password</h3>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input class="form-control" id="password" [(ngModel)]="password1" type="password" placeholder="Password">
                <br>
                <label for="password" class="form-label">Confirm Password</label>
                <input class="form-control" id="password" [(ngModel)]="password2" type="password" placeholder="Confirm Password">
            </div>
            <div *ngIf="successfulUpdate" class="success-message">
                Password successfully updated! Redirecting...
            </div>
            <div *ngIf="!passwordMatch" class="fail-message">
                Passwords do not match! Please re-enter passwords.
            </div>
            <br>
            <div>
                <button id="submit" class="rev-btn-confirm blue-button" (click)="updatePassword()">Submit</button>
                <button class="rev-btn-confirm blue-button" routerLink="/profile">Back to Profile</button>
            </div>
        </div>
    </div>
</div>
